*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.title{
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px lightslategray;
    padding: 10px;
}
a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.left img{
    width: 98%;
}
.rigth img{
    display: block;
}
.left{
    float: left;
}
.rigth{
    float:left;
}
.conllection{
    margin: auto;
    padding: 10px; 
}
.footer{
    text-align: center;
    font-size: 100%;
}
.clear{
    clear: both;
}